:root {
    /*fonts*/
    --main-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
    /*colors*/
    --black-color: #000000;
    --white-color: #ffffff;
    --main-color: #212121;
    --txt-color: #757575;
    --accent-color: #2196F3;
    --project-border-color: #EEEEEE;
    --address-color: #ffffff99;
    /*bg-colors*/
    --main-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --header-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --banner-bg-color: #2F303A;
    /*btn-color*/
    --btn-color: #F5F4FA;
    --btn-accent-color: #188CE8;
    --btn-active-color: #2196F3;
    --btn-filter-color: #2196F3;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0 auto;
    background-color: var(--white-color);
    color: var(--main-color)
}

/* reset */
a {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    cursor: pointer;
}

.page {}

.link {}

.img {}

/*header*/
.header {
    background-color: var(--header-bg-color);
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.logo {
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-color);
    font-weight: 700;
    letter-spacing: 0.03em;
}

.logo-header {
    color: var(--black-color);
}

.nav {}

.nav-list {}

.nav-list .link.current {
    color: var(--accent-color);
}

.nav-list-item {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-contacts-list {}

.header-contacts-list-item {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--txt-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.main {}

/*index-page*/
.hero {
    background-color: var(--banner-bg-color);
}

.hero-heading {
    font-size: 44px;
    line-height: calc(60 / 44);
    color: var(--white-color);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--btn-active-color);
    font-family: var(--main-font);
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--white-color);
    font-weight: 700;
    letter-spacing: 0.06em;
}

.hero-button:active {
    background-color: var(--btn-accent-color);
}

.features {}

.features-list {}

.features-list-item {}

.features-list-item-heading {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 0.03em;
}

.features-list-item-description {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--txt-color);
    font-weight: 400;
    letter-spacing: 0.03em;
}

.work {}

.work-heading {
    font-size: 36px;
    line-height: calc(42 / 36);
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 0.03em;
}

.work-list {}

.work-list-item {}

.team {
    background-color: var(--secondary-bg-color);
}

.team-heading {
    font-size: 36px;
    line-height: calc(42 / 36);
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 0.03em;
}

.team-list {}

.team-list-item {}

.team-list-item-title {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: 0.03em;
}

.team-list-item-description {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--main-color);
    font-weight: 400;
    letter-spacing: 0.03em;
}

/*portfolio-page*/

.portfolio {}

.portfolio-buttons-list {}

.portfolio-button {
    background-color: var(--btn-color);
    font-size: 16px;
    line-height: calc(26 / 16);
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: 0.03em;
}

.portfolio-button button:hover,
.portfolio-button button:focus {
    background-color: var(--btn-filter-color);
    color: var(--white-color);
}

.portfolio-projects-list {}

.portfolio-project {}

.portfolio-project-title {
    font-size: 18px;
    line-height: calc(36 / 18);
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 0.06em;
}

.portfolio-project-description {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--txt-color);
    font-weight: 700;
    letter-spacing: 0.03em;
}

/*footer*/

.footer {
    background-color: var(--footer-bg-color);
}

/*.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}*/

.logo-footer {
    color: var(--white-color);
}

.footer-contacts {}

.address-list {}

.address-list-item {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--address-color);
    font-weight: 400;
    letter-spacing: 0.03em;
    font-style: normal;
}

.address-list-item:nth-child(1) {
    color: var(--white-color);
}